.hero {
  background: linear-gradient(135deg, #2563eb, #9333ea);
  color: white;
  padding: 70px 40px;
  border-radius: 20px;
  text-align: center;
}

/* title */
.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* subtitle */
.subtitle {
  opacity: 0.9;
  margin-bottom: 30px;
}

/* search box */
.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  background: white;
  padding: 10px;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
}

.search-box input {
  border: none;
  outline: none;
  padding: 12px;
  flex: 1;
  font-size: 14px;
}

.search-box button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  cursor: pointer;
}

/* quick search */
.quick-search {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.quick-search span {
  align-self: center;
  font-size: 14px;
}

.quick-search button {
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}
